/*------------------ Start About ---------------------*/
.about {
    text-align: center;
    overflow: hidden;

    img {
        position: relative;
        margin-top: rem(-200);
        bottom: rem(-200);
        max-width: 100%;
    }
}

@media (max-width:678px) {
    .about {
        img {
            display: none;
        }
    }
}

/*------------------ End About ---------------------*/