/*------------------ Start Footer ---------------------*/
.footer {
    position: relative;
    background: url('/assets/images/landing.jpg') center;
    background-size: cover;
    padding: rem(50) 0;
    text-align: center;
    color: $color-light;

    .container {
        position: relative;

        p {
            &:not(.copyright) {
                border-bottom: rem(1) solid $bg-primary;
                width: fit-content;
                font-size: rem(20);
                margin: rem(10) auto;
                padding: rem(20);
                text-transform: uppercase;
            }
        }

        .social-icons {
            font-size: rem(20);
            margin: rem(20) 0;
            padding: rem(20);

            i {
                margin: 0 rem(10);
                transition: $transition;
                cursor: pointer;

                &:hover {
                    color: $bg-primary;
                    transform: rotate(360deg);
                }
            }
        }

        .copyright {
            font-size: rem(20);
            font-weight: normal;

            span {
                color: $color-primary;
                display: inline-block;
                margin: 0 rem(5);
            }
        }
    }
}

/*------------------ End Footer ---------------------*/