$color-primary: #19c8fa;
$color-light: #fff;
$color-dark: #222;
$color-gray: #777;
$color-icon: #ddd;
$bg-dark: #1f2021;
$bg-light: #0f748fb3;
$bg-primary: #19c8fa;
$bg-lighter: #fff;
$bg-btn-hover: #0c1f25;
$bg-btn-primary: #19c8fa;
$bg-gray: #ddd;
$primary-padding: 100px;
$primary-margin: 100px;
$transition: 0.5s ease-in-out;