<!-- Start About -->
<section class="about" id="about">
    <div class="container">
        <div class="main-heading">
            <h2>Services</h2>
            <p>
                Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit,
                eget tincidunt nibh pulvinar a. Curabitur aliquet quam. Accumsan id imperdiet et, porttitor at
                sem. Mauris blandit aliquet elit, eget tincidunt.
            </p>
        </div>
        <img src="/assets/images/about.png" alt="About">
    </div>
</section> <!-- End About -->