<!-- Start Footer -->
<footer class="footer" id="footer">
    <div class="container">
        <img src="/assets/images/logo.png" alt="Logo">
        <p>We Are Social</p>
        <div class="social-icons">
            <i class="fas fa-home" id="home"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-git-alt"></i>
            <i class="fa-brands fa-github-alt"></i>
            <i class="fa-brands fa-whatsapp"></i>
        </div>
        <p class="copyright">&copy; 2023 <span>Kasper</span>All Right Reserved</p>
    </div>
</footer>
<!-- End Footer -->