<!-- Start Header -->
<header class="header">
    <div class="container">
        <a href="#home" class="logo"><img src="/assets/images/logo.png" alt="Logo Website"></a>
        <nav>
            <i class="toggle-menu fa-solid fa-bars"></i>
            <ul>
                <li><a class="active" href="#home">Home</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#pricing">Pricing</a></li>
                <li><a href="#contact">Contact</a></li>
                <li> <i class="search fas fa-search"></i></li>
            </ul>
        </nav>
    </div>
</header> <!-- End Header -->