<!-- Start Pricing -->
<section class="pricing" id="pricing">
    <div class="container">
        <div class="main-heading">
            <h2>Pricing</h2>
            <p>
                Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget
                tincidunt.
            </p>
        </div>
        <div class="plans">
            <div class="plan">
                <div class="head">
                    <span>Basic</span>
                    <h3>19</h3>
                </div>
                <ul>
                    <li>Feature No 1</li>
                    <li>Extra Feature</li>
                    <li>Extra Feature No 2</li>
                    <li>Feature</li>
                </ul>
                <div class="foot">
                    <a href="#" class="btn">Buy Now</a>
                </div>
            </div>
            <div class="plan">
                <div class="head">
                    <span>Premium</span>
                    <h3>29</h3>
                </div>
                <ul>
                    <li>Feature No 1</li>
                    <li>Extra Feature</li>
                    <li>Extra Feature No 2</li>
                    <li>Feature</li>
                </ul>
                <div class="foot">
                    <a href="#" class="btn">Buy Now</a>
                </div>
            </div>
            <div class="plan">
                <div class="head">
                    <span>Pro</span>
                    <h3>39</h3>
                </div>
                <ul>
                    <li>Feature No 1</li>
                    <li>Extra Feature</li>
                    <li>Extra Feature No 2</li>
                    <li>Feature</li>
                </ul>
                <div class="foot">
                    <a href="#" class="btn">Buy Now</a>
                </div>
            </div>
            <div class="plan">
                <div class="head">
                    <span>Platinum</span>
                    <h3>49</h3>
                </div>
                <ul>
                    <li>Feature No 1</li>
                    <li>Extra Feature</li>
                    <li>Extra Feature No 2</li>
                    <li>Feature</li>
                </ul>
                <div class="foot">
                    <a href="#" class="btn">Buy Now</a>
                </div>
            </div>
        </div>
        <p class="contact-text">Contact us if you have special request</p>
        <a href="#" class="btn">Contact Us</a>
    </div>
</section> <!-- End Pricing -->