<!-- Start Services -->
<section class="services" id="services">
    <div class="container">
        <div class="main-heading">
            <h2>Services</h2>
            <p>
                Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit,
                eget tincidunt nibh pulvinar a. Curabitur aliquet quam. Accumsan id imperdiet et, porttitor at
                sem. Mauris blandit aliquet elit, eget tincidunt.
            </p>
        </div>
        <div class="services-content">
            <div class="srv-box">
                <i class="fa-solid fa-display fa-3"></i>
                <div class="text">
                    <h3>Vorem amet intuitive</h3>
                    <p>
                        Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet
                        elit,
                        eget tincidunt nibh pulvinar a. Curabitur aliquet quam. Accumsan id imperdiet et, porttitor
                        at
                        sem. Mauris blandit aliquet elit, eget tincidunt.
                    </p>
                </div>
            </div>
            <div class="srv-box">
                <i class="fa-solid fa-pen-ruler fa-3"></i>
                <div class="text">
                    <h3>Vorem amet intuitive</h3>
                    <p>
                        Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet
                        elit,
                        eget tincidunt nibh pulvinar a. Curabitur aliquet quam. Accumsan id imperdiet et, porttitor
                        at
                        sem. Mauris blandit aliquet elit, eget tincidunt.
                    </p>
                </div>
            </div>
            <div class="srv-box">
                <i class="fa-solid fa-camera fa-3"></i>
                <div class="text">
                    <h3>Vorem amet intuitive</h3>
                    <p>
                        Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet
                        elit,
                        eget tincidunt nibh pulvinar a. Curabitur aliquet quam. Accumsan id imperdiet et, porttitor
                        at
                        sem. Mauris blandit aliquet elit, eget tincidunt.
                    </p>
                </div>
            </div>
            <div class="srv-box">
                <i class="fa-solid fa-gear fa-3"></i>
                <div class="text">
                    <h3>Vorem amet intuitive</h3>
                    <p>
                        Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet
                        elit,
                        eget tincidunt nibh pulvinar a. Curabitur aliquet quam. Accumsan id imperdiet et, porttitor
                        at
                        sem. Mauris blandit aliquet elit, eget tincidunt.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section> <!-- End Services -->