<!-- End Skils -->
<section class="our-skils" id="skils">
    <div class="container">
        <div class="testimonials">
            <h3>Testimonials</h3>
            <p>
                Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit,
                eget tincidunt nibh pulvinar a. Curabitur aliquet quam. Accumsan id imperdiet et, porttitor at
                sem. Mauris blandit aliquet elit, eget tincidunt.
            </p>
            <div class="content">
                <img src="/assets/images/skills-01.jpg" alt="person">
                <div class="text">
                    Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit,
                    eget tincidunt.
                    <p>John Doe, CEO</p>
                </div>
            </div>
            <div class="content">
                <img src="/assets/images/skills-02.jpg" alt="person">
                <div class="text">
                    Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit,
                    eget tincidunt.
                    <p>John Doe, CEO</p>
                </div>
            </div>
            <div class="bullets">
                <span></span>
                <span class="active"></span>
                <span></span>
            </div>
        </div>
        <div class="skils">
            <h3>Skils</h3>
            <p>
                Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit,
                eget tincidunt nibh pulvinar a. Curabitur aliquet quam. Accumsan id imperdiet et, porttitor at
                sem. Mauris blandit aliquet elit, eget tincidunt.
            </p>
            <div class="prog-holder">
                <h4>Adobe</h4>
                <div class="prog">
                    <span style="width: 90%;" data-progress="90%"></span>
                </div>
            </div>
            <div class="prog-holder">
                <h4>Html & Css</h4>
                <div class="prog">
                    <span style="width: 85%;" data-progress="85%"></span>
                </div>
            </div>
            <div class="prog-holder">
                <h4>JavaScript</h4>
                <div class="prog">
                    <span style="width: 30%;" data-progress="30%"></span>
                </div>
            </div>
            <div class="prog-holder">
                <h4>Php</h4>
                <div class="prog">
                    <span style="width: 90%;" data-progress="90%"></span>
                </div>
            </div>
        </div>
    </div>
</section> <!-- End Skils -->