<!-- Start Stats -->
<section class="stats" id="stats">
    <div class="container">
        <div class="box">
            <i class="fas fa-solid fa-mug-hot"></i>
            <div class="number">1,236</div>
            <p>Coffe Drinks</p>
        </div>
        <div class="box">
            <i class="fas fa-solid fa-folder"></i>
            <div class="number">256</div>
            <p>Complated Projects</p>
        </div>
        <div class="box">
            <i class="fas fa-solid fa-envelope "></i>
            <div class="number">1,743</div>
            <p>mail Sent</p>
        </div>
        <div class="box">
            <i class="fas fa-solid fa-trophy "></i>
            <div class="number">17</div>
            <p>Awards Received</p>
        </div>
    </div>
</section> <!-- End Stats -->